<div class="cx()}">
  <ngis-header [header]="header" className="cx('header')"></ngis-header>

  <div class="{{cx('body')}}">
    <ul class="{{cx('list')}}">
      <li
        *ngIf="showFirst"
        (click)="refine($event, 0)"
        class="{{
          cx('item', 'firstPage') +
          (state.currentRefinement === 0 ? ' ' + cx('item', 'disabled') : '')
        }}"
      >
        <a
          href="{{state.createURL(0)}}"
          class="{{cx('link')}}"
        >
          «
        </a>
      </li>

      <li
        *ngIf="showPrevious"
        (click)="refine($event, state.currentRefinement - 1)"
        class="{{
          cx('item', 'previousPage') +
          (state.currentRefinement === 0 ? ' ' + cx('item', 'disabled') : '')
        }}"
      >
        <a
          href="{{state.createURL(state.currentRefinement - 1)}}"
          class="{{cx('link')}}"
        >
          ‹
        </a>
      </li>

      <li
        class="{{
          cx('item', 'page') +
          (state.currentRefinement === page ? ' ' + cx('item', 'selected') : '')
        }}"
        *ngFor="let page of pages"
        (click)="refine($event, page)"
      >
        <a
          class="{{cx('link')}}"
          href="{{state.createURL(page)}}"
        >
          {{page + 1}}
        </a>
      </li>

      <li
        *ngIf="showNext"
        (click)="refine($event, state.currentRefinement + 1)"
        class="{{
          cx('item', 'nextPage') +
          (state.currentRefinement + 1 === state.nbPages ? ' ' + cx('item', 'disabled') : '')
        }}"
      >
        <a
          href="{{state.createURL(state.currentRefinement + 1)}}"
          class="{{cx('link')}}"
        >
          ›
        </a>
      </li>

      <li
        *ngIf="showLast"
        (click)="refine($event, state.nbPages)"
        class="{{
          cx('item', 'lastPage') +
          (state.currentRefinement + 1 === state.nbPages ? ' ' + cx('item', 'disabled') : '')
        }}"
      >
        <a
          href="{{state.createURL(state.nbPages)}}"
          class="{{cx('link')}}"
        >
          »
        </a>
      </li>
    </ul>
  </div>

  <ngis-footer [footer]="footer" className="{{cx('footer')}}"></ngis-footer>
</div>
