* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: #21243d;
  font-family: Hind, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Header */

.header {
  align-items: center;
  background: linear-gradient(to bottom, #fbc300, #c98a00);
  background-image: url('./images/cover.png');
  background-image: url('./images/cover.png'),
    linear-gradient(to bottom, #fbc300, #c98a00);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 368px;
  padding: 0.5rem 1rem;
  text-align: center;
}

.header-logo {
  margin: 0;
}

.header-logo svg {
  height: 24px;
  width: 92px;
}

.header-title {
  font-size: 38px;
  font-weight: 300;
}

/* Containers */

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem 1rem;
}

.container-filters {
  flex: 1;
  margin-right: 60px;
  max-width: 260px;
}

.container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
}

.container-results {
  flex: 3;
}

.container-options {
  border-bottom: 1px solid #ebecf3;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  padding: 30px 0;
}

.container-options div {
  margin-left: 48px;
}

.container-options select {
  min-width: 100px;
}

.container-footer {
  margin: 4rem 0;
}

/* Styles the SFFV highlightings */

mark {
  background: rgba(226, 164, 0, 0.4);
}

/* Clear refinements container */

.ais-ClearRefinements {
  align-items: center;
  display: flex;
}

.ais-ClearRefinements-button::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'%0A%3E%3Cg fill='none' fill-rule='evenodd' opacity='.4'%3E%3Cpath d='M0 0h11v11H0z'%3E%3C/path%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M8.26 2.75a3.896 3.896 0 1 0 1.102 3.262l.007-.056a.49.49 0 0 1 .485-.456c.253 0 .451.206.437.457 0 0 .012-.109-.006.061a4.813 4.813 0 1 1-1.348-3.887v-.987a.458.458 0 1 1 .917.002v2.062a.459.459 0 0 1-.459.459H7.334a.458.458 0 1 1-.002-.917h.928z' %3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  position: relative;
  top: 1px;
  width: 10px;
}

/* Panel */

.container-body .ais-Panel {
  border-top: 1px solid #ebecf3;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.ais-Panel-header {
  font-family: Hind, sans-serif;
}

/* Search box */

.header .ais-SearchBox {
  height: 64px;
  width: 740px;
}

.header .ais-SearchBox .ais-SearchBox-input {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.2);
  font-family: Hind, sans-serif;
  height: 64px;
  /*
    The "Hind" font family is vertically off-balance.
    Adding 4px of padding top makes it more vertically aligned.
  */
  padding: 4px 48px 0 58px;
}

.header .ais-SearchBox .ais-SearchBox-input::placeholder {
  color: rgba(33, 36, 61, 0.24);
  opacity: 1; /* Firefox */
}

.ais-SearchBox-input:-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.24);
}

.ais-SearchBox-input::-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.24);
}

.header-searchbox .ais-SearchBox-submit svg {
  display: none;
}

.header-searchbox .ais-SearchBox-submit::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cg fill='none' fill-rule='evenodd' color='%23e2a400' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.67' transform='translate(1 1)' %3E%3Ccircle cx='7.11' cy='7.11' r='7.11'%3E%3C/circle%3E%3Cpath d='M16 16l-3.87-3.87'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  height: 16px;
  width: 16px;
}

.ais-SearchBox-submit {
  color: #e2a400;
  height: 16px;
}

.header-searchbox .ais-SearchBox-resetIcon {
  display: none;
}

.ais-RefinementList .ais-SearchBox-input {
  font-family: Hind, sans-serif;
  /*
    The "Hind" font family is vertically off-balance.
    Adding some padding top makes it more vertically aligned.
  */
  padding-top: 2px;
}

/* Hits */

.hit {
  color: #21243d;
  font-size: 14px;
  line-height: 18px;
}

.hit h1 {
  font-size: 14px;
}

.hit-category {
  color: #21243d;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
  opacity: 0.7;
  text-transform: uppercase;
}

.hit-description {
  margin-top: 2px;
}

.hit-image-container {
  align-items: center;
  display: flex;
  height: 174px;
  justify-content: center;
  margin: auto;
  width: 174px;
}

.hit-image {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.hit-em {
  color: #e2a400;
  font-size: 11px;
  font-weight: 600;
}

.hit-rating {
  border: 1px solid rgba(226, 164, 0, 0.5);
  border-radius: 4px;
  margin-left: 4px;
  padding: 0 4px;
}

.hit-rating svg {
  width: 8px;
  height: 8px;
}

/* RangeSlider */

.ais-RangeSlider .noUi-target {
  background-color: rgba(65, 66, 71, 0.08);
  border-radius: 3px;
  direction: ltr;
  height: 3px;
  margin-top: 35px;
  position: relative;
  width: calc(100% - 10px);
}

.ais-RangeSlider .noUi-base {
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.ais-RangeSlider .noUi-origin,
.ais-RangeSlider .noUi-origin * {
  outline: none;
}

.ais-RangeSlider .noUi-origin,
.ais-RangeSlider .noUi-connect {
  position: absolute;
}

.ais-RangeSlider .noUi-connect {
  background-color: #e2a400;
  border-radius: 3px;
  height: 3px;
}

.ais-RangeSlider .noUi-handle {
  background-image: linear-gradient(to top, #f5f5fa, #fff);
  border-radius: 50%;
  box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15),
    0 2px 3px 0 rgba(93, 100, 148, 0.2);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  height: 14px;
  position: relative;
  top: -6px;
  width: 14px;
}

.ais-RangeSlider .noUi-handle .noUi-tooltip::before {
  color: #e2a400;
  content: '$';
  font-size: 0.6;
  margin-right: 4px;
  position: relative;
}

.ais-RangeSlider .noUi-handle .noUi-tooltip {
  cursor: grab;
  display: flex;
  font-size: 0.75rem;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: -23px;
  transform: translate(-50%, 0);
}

/* ToggleRefinement */

.ais-ToggleRefinement-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}

.ais-ToggleRefinement-checkbox {
  font: inherit;
  margin-left: 1rem;
  margin-right: 0;
}

.ais-ToggleRefinement-checkbox:checked::before {
  color: #e2a400;
}

.ais-ToggleRefinement-checkbox::before {
  align-items: center;
  color: rgba(33, 36, 61, 0.32);
  content: 'No';
  display: flex;
  font-size: 0.8rem;
  height: 16px;
  position: absolute;
  right: 38px;
}

.ais-ToggleRefinement-checkbox:checked::before {
  content: 'Yes';
}

.ais-ToggleRefinement-count {
  display: none;
}

/* RatingMenu */

.ais-RatingMenu-item:not(.ais-RatingMenu-item--selected) {
  opacity: 0.5;
}

.ais-RatingMenu-starIcon {
  margin-right: 0.5rem;
}

/* Pagination */

.ais-Pagination-item--previousPage .ais-Pagination-link,
.ais-Pagination-item--nextPage .ais-Pagination-link {
  visibility: hidden;
}

.ais-Pagination-item--previousPage .ais-Pagination-link::after,
.ais-Pagination-item--nextPage .ais-Pagination-link::after {
  height: 10px;
  visibility: visible;
  width: 10px;
}

.ais-Pagination-item--previousPage .ais-Pagination-link::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%0A%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.143' %3E%3Cpath d='M9 5H1M5 9L1 5l4-4'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.ais-Pagination-item--nextPage .ais-Pagination-link::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%0A%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.143' %3E%3Cpath d='M1 5h8M5 9l4-4-4-4'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

/* Hide all mobile-specific design on desktop */

@media (min-width: 900px) {
  [data-layout='mobile'] {
    display: none;
  }
}
