* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: #21243d;
  font-family: Hind, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Header */

.header {
  align-items: center;
  background: linear-gradient(to bottom, #fbc300, #c98a00);
  background-image: url('./images/cover.png');
  background-image: url('./images/cover.png'),
    linear-gradient(to bottom, #fbc300, #c98a00);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 368px;
  padding: 0.5rem 1rem;
  text-align: center;
}

.header-logo {
  margin: 0;
}

.header-title {
  font-size: 38px;
  font-weight: 300;
}

/* Containers */

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem 1rem;
}

.container-filters {
  flex: 1;
  margin-right: 60px;
  max-width: 260px;
}

.container-body .ais-Panel {
  border-top: 1px solid #ebecf3;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
}

.container-results {
  flex: 3;
}

.container-options {
  border-bottom: 1px solid #ebecf3;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  padding: 30px 0;
}

.container-options div {
  margin-left: 48px;
}

.container-options select {
  min-width: 100px;
}

.container-footer {
  margin: 4rem 0;
}

/* Styles the SFFV highlightings */

mark {
  background: rgba(226, 164, 0, 0.4);
}

/* Clear refinements container */

.ais-ClearRefinements {
  align-items: center;
  display: flex;
}

.ais-ClearRefinements-button::before {
  content: url('./images/clear-filters.svg');
  width: 10px;
  height: 10px;
  position: relative;
  top: 1px;
  margin-right: 5px;
}

/* Panel */

.ais-Panel-header {
  font-family: Hind, sans-serif;
}

/* Search box */

.header-searchbox .ais-SearchBox {
  height: 64px;
  width: 740px;
}

.header-searchbox .ais-SearchBox-input {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.2);
  font-family: Hind, sans-serif;
  height: 64px;
  padding-left: 58px;
  /*
    The "Hind" font family is vertically off-balance.
    Adding some padding top makes it more vertically aligned.
  */
  padding-top: 4px;
}

.header-searchbox .ais-SearchBox-input::placeholder {
  color: rgba(33, 36, 61, 0.24);
  opacity: 1; /* Firefox */
}

.header-searchbox .ais-SearchBox-input:-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.24);
}

.header-searchbox .ais-SearchBox-input::-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.24);
}

.header-searchbox .ais-SearchBox-submit svg {
  display: none;
}

.header-searchbox .ais-SearchBox-submit::before {
  content: url('./images/submit-icon.svg');
}

.header-searchbox .ais-SearchBox-submit {
  color: #e2a400;
  height: 16px;
}

.header-searchbox .ais-SearchBox-resetIcon {
  display: none;
}

.ais-RefinementList-searchBox .ais-SearchBox-input {
  font-family: Hind, sans-serif;
  /*
    The "Hind" font family is vertically off-balance.
    Adding some padding top makes it more vertically aligned.
  */
  padding-top: 1px;
}

/* Hits */

.hit {
  color: #21243d;
  font-size: 14px;
  line-height: 18px;
}

.hit h1 {
  font-size: 14px;
}

.hit-category {
  color: #21243d;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
  opacity: 0.7;
  text-transform: uppercase;
}

.hit-description {
  margin-top: 2px;
}

.hit-description .ais-Highlight {
  display: -webkit-box;
  height: 100px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hit-image-container {
  align-items: center;
  display: flex;
  height: 174px;
  justify-content: center;
  margin: auto;
  width: 174px;
}

.hit-image {
  height: auto;
  max-width: 100%;
}

.hit-em {
  color: #e2a400;
  font-size: 11px;
  font-weight: 600;
}

.hit-rating {
  border: 1px solid rgba(226, 164, 0, 0.5);
  border-radius: 4px;
  margin-left: 4px;
  padding: 0 4px;
}

/* RangeSlider */

.ais-RangeSlider .noUi-target {
  background-color: rgba(65, 66, 71, 0.08);
  border-radius: 3px;
  height: 3px;
  width: calc(100% - 10px);
  position: relative;
  direction: ltr;
  margin-top: 35px;
}

.ais-RangeSlider .noUi-base {
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.ais-RangeSlider .noUi-origin,
.ais-RangeSlider .noUi-origin * {
  outline: none;
}

.ais-RangeSlider .noUi-origin,
.ais-RangeSlider .noUi-connect {
  position: absolute;
}

.ais-RangeSlider .noUi-connect {
  background-color: #e2a400;
  border-radius: 3px;
  height: 3px;
}

.ais-RangeSlider .noUi-handle {
  background-image: linear-gradient(to top, #f5f5fa, #fff);
  border-radius: 50%;
  box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15),
    0 2px 3px 0 rgba(93, 100, 148, 0.2);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  height: 14px;
  width: 14px;
  top: -6px;
  position: relative;
}

.ais-RangeSlider .noUi-handle .noUi-tooltip::before {
  color: #e2a400;
  content: '$';
  font-size: 0.6;
  margin-right: 4px;
  position: relative;
}

.ais-RangeSlider .noUi-handle .noUi-tooltip {
  cursor: grab;
  display: flex;
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* ToggleRefinement */

.ais-ToggleRefinement-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: relative;
}

.ais-ToggleRefinement-checkbox {
  font: inherit;
  margin-right: 0;
}

.ais-ToggleRefinement-checkbox:checked::before {
  color: #e2a400;
}

.ais-ToggleRefinement-checkbox::before {
  align-items: center;
  color: rgba(33, 36, 61, 0.32);
  content: 'No';
  display: flex;
  font-size: 0.8rem;
  height: 16px;
  position: absolute;
  right: 38px;
}

.ais-ToggleRefinement-checkbox:checked::before {
  content: 'Yes';
}

.ais-ToggleRefinement-count {
  display: none;
}

/* RatingMenu */

.ais-RatingMenu-item:not(.ais-RatingMenu-item--selected) {
  opacity: 0.5;
}

/* Pagination */

.ais-Pagination-item--previousPage .ais-Pagination-link,
.ais-Pagination-item--nextPage .ais-Pagination-link {
  visibility: hidden;
}

.ais-Pagination-item--previousPage .ais-Pagination-link::after {
  visibility: visible;
  content: url('./images/prev-page.svg');
}

.ais-Pagination-item--nextPage .ais-Pagination-link::after {
  visibility: visible;
  content: url('./images/next-page.svg');
}
