<div class="container-fluid">
  <ais-instantsearch
    [config]="{
      appId: 'latency',
      apiKey: '6be0576ff61c053d5f9a3225e2a90f76',
      indexName: 'ikea'
    }"
  >
    <header class="content-wrapper">
      <a href="./" class="logo">amazing</a>
      <ais-search-box placeholder="Search a product"></ais-search-box>
    </header>

    <div class="content-wrapper">
      <aside>
        <ais-clear-refinements
          buttonLabel="Clear all filters"
        >
        </ais-clear-refinements>

        <section class="facet-wrapper">
          <div class="facet-category-title">Show results for</div>
          <ais-hierarchical-menu
            [attributes]="['category', 'sub_category', 'sub_sub_category']"
            [sortBy]="['name:asc']"
          >
          </ais-hierarchical-menu>
        </section>

        <section class="facet-wrapper">
          <div class="facet-category-title">Refine by</div>
          <ais-panel header="Materials">
            <ais-refinement-list
              attribute="materials"
              operator="or"
              limit="10"
            >
            </ais-refinement-list>
          </ais-panel>

          <ais-panel header="Colors">
            <ais-refinement-list
              attribute="colors"
              operator="or"
              limit="10"
            >
            </ais-refinement-list>
          </ais-panel>

          <ais-panel header="Ratings">
            <ais-rating-menu attribute="rating"></ais-rating-menu>
          </ais-panel>

          <ais-panel header="Prices">
            <ais-range-input
              header="Prices"
              attribute="price"
            >
            </ais-range-input>
          </ais-panel>
        </section>

        <div class="thank-you">
          Data courtesy of <a href="http://www.ikea.com/">ikea.com</a>
        </div>
      </aside>

      <div class="results-wrapper">
      <section id="results-topbar">
        <ais-panel header="Sort by">
          <ais-sort-by
            [items]="
              [
                {name: 'ikea', label: 'Featured'},
                {name: 'ikea_price_asc', label: 'Price asc.'},
                {name: 'ikea_price_desc', label: 'Price desc.'}
              ]
            "
          >
          </ais-sort-by>
        </ais-panel>
        <ais-stats></ais-stats>
      </section>

      <main>
        <ais-hits
          [transformItems]="transformHits"
        >
          <ng-template
            let-hits="hits"
            let-results="results"
          >
            <div
              *ngIf="hits.length === 0"
              class="text-center"
            >
              No results found matching <strong>{{results.query}}</strong>.
            </div>

            <article
              *ngFor="let hit of hits; trackBy: trackByObjectID"
              class="hit"
            >
              <div class="product-picture-wrapper">
                <div class="product-picture">
                  <app-product-image [src]="hit.image"></app-product-image>
                </div>
              </div>

              <div class="product-desc-wrapper">
                <div class="product-name">
                  <ais-highlight
                    attribute="name"
                    [hit]="hit"
                  >
                  </ais-highlight>
                </div>

                <div class="product-type">
                  <ais-highlight
                    attribute="type"
                    [hit]="hit"
                  >
                  </ais-highlight>
                </div>

                <div class="product-price">${{hit.price}}</div>
                <div class="product-rating">
                  <i
                    *ngFor="let star of hit.stars"
                    [ngClass]="{
                      'fa': true,
                      'fa-star': star,
                      'fa-star-o': !star
                    }"
                  >
                  </i>
                </div>
              </div>
            </article>
          </ng-template>
        </ais-hits>
      </main>

      <ais-pagination></ais-pagination>
    </div>
    </div>
  </ais-instantsearch>
</div>
