// This file is defining code snippets styling for the homepage

$light-theme: (
  ('keyword', '#DD0031'),
  ('operator', '#f95faa'),
  ('property', '#75de00'),
  ('variable', '#3369e7'),
  ('string', '#00aeff'),
  ('comment', '#bbbbbb')
);



$size: 13px;
$line-height: round(($size / 2)*2.6999999);
$gutter-width: 3.5em;
$padding: 13px;
$line-number-size: round(($size / 2)*1.538462);


pre {
  &.al-snippet {
    color: $bunting;
    box-sizing: border-box;
    line-height: initial;
    word-break: initial;
    word-wrap: initial;
    border-radius: 5px;
    display: inline-block;
    margin: initial !important;
    line-height: $line-height*1.02;
    font-size: 12px;
    border: none;

    @each $name, $color in $light-theme {
      .sn-#{$name} {
        color: #{$color}
      }
    }

    ::selection {
      background: #DD0031;
      color: #fff
    }
  }
}

