@charset 'utf-8';
@import '~angular-instantsearch/bundles/instantsearch.css';
@import '~angular-instantsearch/bundles/instantsearch-theme-algolia.css';

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header {
  border-bottom: .05rem solid #e5e5e5;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
