<div class="container">
  <header class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/search-default-routing/" routerLinkActive="active" class="nav-link">Search default routing</a>
        </li>
        <li class="nav-item">
          <a routerLink="/search-custom-routing/" routerLinkActive="active" class="nav-link">Search custom routing</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">Angular Router Example</h3>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
