doctype html
html(lang="en")
  head
    include ./common/meta.pug
  body
    include ./common/header.pug
    include ./common/hero.pug
    section.row.fill-white.p-xlarge.m-l-none.m-r-none.pos-rel
      .container.pos-rel.z-10
        .col-md-6.hidden-sm
          img.section-illustration(src="assets/images/Angular-filters.svg", alt="InstantSearch components", width="525", height="254.67")
        .col-md-6.p-l-xlarge
          header
            h3.no-p-t.m-t-none.text-lg Built for Angular 4 and 5
          .spacer16.visible-sm
          img.section-illustration.visible-sm(src="assets/images/Angular-filters.svg", alt="InstantSearch components", width="525", height="254.67")
          .spacer24
          p.color-logan.text-regular.text-demi Angular InstantSearch is future proof. Build a powerful Search UI using Angular’s latest technologies.

          .spacer24
          a.btn.btn-static-theme.b-n.elevation0(href="widgets", title="instantSearch.js widgets").
            Discover widgets
            <i class="icon icon-arrow-right"></i>

      .inline.spacer80
      .inline.spacer120

    section.row.fill-titan.p-xlarge.m-l-none.m-r-none.pos-rel.section-infinite-possibilities
      .container
        .inline.spacer40.hidden-sm
        .col-md-12.z-10
          .col-md-5.p-r-xlarge
            .spacer120.hidden-sm
            header
              h3.no-p-t.m-t-none.text-lg Declarative
            .spacer16.visible-sm

            .spacer24
            p.color-logan.text-regular.text-demi Create beautiful and customizable instant-search experiences. Use our predefined widgets, configure them with options and let Angular InstantSearch take care of the rest.
            .spacer24
            a.btn.btn-static-theme.b-n.elevation0(href="guide", title="instantSearch.js examples").
              Read the Guide
              <i class="icon icon-arrow-right"></i>
          .inline.spacer32.visible-sm
          .col-md-7.no-padding.
              <pre class="al-snippet p-xlarge elevation1 fill-white" data-snippet-theme="dark">
              <code>
                &lt;ng-ais-instantsearch
                  [<span class="sn-keyword">config</span>]<span class="sn-operator">=</span>"{
                    <span class="sn-keyword">appId</span>: '<span class="sn-string">latency</span>',
                    <span class="sn-keyword">apiKey</span>: '<span class="sn-string">6be0576ff61c053d5f9a3225e2a90f76</span>',
                    <span class="sn-keyword">indexName</span>: '<span class="sn-string">ikea</span>'
                  }">
                  &lt;div class<span class="sn-operator">=</span>"<span class="sn-string">left</span>">
                    &lt;ng-ais-hierarchical-menu>
                      [<span class="sn-keyword">attributes</span>]<span class="sn-operator">=</span>"['<span class="sn-string">category</span>', '<span class="sn-string">sub_category</span>', '<span class="sn-string">sub_sub_category</span>']"
                      [<span class="sn-keyword">sortBy</span>]<span class="sn-operator">=</span>"['<span class="sn-string">name:asc</span>']">
                    &lt;/ng-ais-hierarchical-menu>
                    &lt;ng-ais-refinement-list>
                      <span class="sn-keyword">attribute</span><span class="sn-operator">=</span>"<span class="sn-string">materials</span>"
                      <span class="sn-keyword">operator</span><span class="sn-operator">=</span>"<span class="sn-string">or</span>"
                      <span class="sn-keyword">limit</span><span class="sn-operator">=</span>"<span class="sn-string">10</span>">
                    &lt;/ng-ais-refinement-list>
                  &lt;/div>

                  &lt;div class<span class="sn-operator">=</span>"<span class="sn-string">right</span>">
                    &lt;ng-ais-search-box placeholder</span><span class="sn-operator">=</span>"<span class="sn-string">Search a product</span>">&lt;/ng-ais-search-box>
                    &lt;ng-ais-hits</span>>&lt;/ng-ais-hits>
                  &lt;/div>
                &lt;/ng-ais-instantsearch>

              </code></pre>
        .inline.spacer80
        .inline.spacer40
        .inline.spacer40.hidden-sm

    section.row.fill-white.p-xlarge.m-l-none.m-r-none.pos-rel.section-framework
      .container.pos-rel.z-10
        .col-md-6
          img(src="assets/images/Angular-desktop.svg", alt="", width="620")
        .col-md-6
          .spacer64.hidden-sm
          header
            h3.no-p-t.m-t-none.text-lg Built-in Server Side Rendering
          .spacer24
          p.color-logan.text-regular.text-demi Angular InstantSearch provides state-of-the-art server-side rendering thanks to Angular 5 newest features. So that you can optimize your SEO and page loading times easily.

          .spacer24
          a.btn.btn-static-theme.b-n.elevation0(href="guide/Connectors.html", title="Get started with server-side rendering").
            Implement Server Side Rendering
            <i class="icon icon-arrow-right"></i>
        .inline.spacer40
        .inline.spacer40.hidden-sm
        .inline.spacer120

    section.row.fill-titan.p-xlarge.m-l-none.m-r-none.pos-rel.section-live
      .col-md-12.container.pos-rel.z-20
        header.text-center.m100p.p-large
          h3.no-p-t.m-t-none.text-lg See it live
        .container
          ul.flex-container.flex-dir-row.list-none.text-center
            li.flex-it-3.p-large
              .p-large.fill-white.elevation1.h300.flex-container.flex-dir-col.flex-align-center.radius6
                a(href='examples/e-commerce')
                  .tile-container
                    .inline.spacer32
                    figure
                      img.w100(src='assets/images/e-commerce.svg')
                    .spacer16
                    h3.text-lg.color-bunting E-commerce
                    .spacer8
                    span.light-link.color-algolia-blue See it live >
            li.flex-it-3.p-large
              .p-large.fill-white.elevation1.h300.flex-container.flex-dir-col.flex-align-center.radius6
                a(href='examples/e-commerce-infinite')
                  .tile-container
                    .inline.spacer32
                    figure
                      img.w100(src='assets/images/media.svg')
                    .spacer16
                    h3.text-lg.color-bunting Media
                    .spacer8
                    span.light-link.color-algolia-blue See it live >
            li.flex-it-3.p-large
              .p-large.fill-white.elevation1.h300.flex-container.flex-dir-col.flex-align-center.radius6
                a(href='examples/material-ui')
                  .tile-container
                    .inline.spacer64
                    figure
                      img.w200(src='assets/images/vestiaire-collective.svg')
                    .spacer32
                    .spacer8
                    h3.text-lg.color-bunting Vestiaire Collective
                    .spacer8
                    span.light-link.color-algolia-blue See it live >



          .inline.spacer32
          .inline.spacer40.hidden-sm

    section.row.fill-white.p-xlarge.discover-section.m-l-none.m-r-none.pos-rel
      .container
        .inline.spacer40
        .col-md-12.z-10.text-center.row
          header
            h3.no-p-t.m-t-none.text-lg.line-h-regular Discover InstantSearch<br/>for other languages

          .spacer32
          .row.h100.logos-container
            .col-md-12
            .spacer32.inline
            .col-md-12
              .col-md-6.pos-rel.p-b-large.col-md-offset-2
                div.heading.w100p.text-left
                  small.color-logan InstantSearch for native
            .col-md-12.mobile-projects
              .col-md-4.col-md-offset-2
                .card.fill-white.elevation1.radius6.p-large.h100.text-left
                  a(href="https://community.algolia.com/instantsearch-android/")
                    figure
                      img(src="assets/images/InstantSearch-Android.svg", alt="Logo InstantSearch Android")
                      figcaption InstantSearch for Android
              .col-md-4
                .card.fill-white.elevation1.radius6.p-large.h100.text-left
                  a(href="https://community.algolia.com/instantsearch-ios/")
                    figure
                      img(src="assets/images/InstantSearch-iOS.svg", alt="Logo InstantSearch iOS")
                      figcaption InstantSearch for iOS

          .spacer40.inline
          .row.desktop-projects
            .col-md-10.p-b-large
              div.heading.w100p.text-left.m-l-large
                small.color-logan InstantSearch for web
            .col-md-12
              .col-md-3
                .card.fill-white.elevation1.radius6.p-large.h100.text-left
                  a(href="https://community.algolia.com/instantsearch.js/v2")
                    figure
                      img.w100p(src="assets/images/InstantSearch-JavaScript.svg", alt="Logo InstantSearch Javascript")
                      figcaption InstantSearch for Javascript
              .col-md-3
                .card.fill-white.elevation1.radius6.p-large.h100.text-left
                  a(href="https://community.algolia.com/react-instantsearch/")
                    figure
                      img.w100p(src="assets/images/InstantSearch-React.svg", alt="Logo InstantSearch React")
                      figcaption InstantSearch for React
              .col-md-3
                .card.fill-white.elevation1.radius6.p-large.h100.text-left
                  a(href="https://community.algolia.com/vue-instantsearch")
                    figure
                      img.w100p(src="assets/images/InstantSearch-Vue.svg", alt="Logo InstantSearch Vue")
                      figcaption InstantSearch for Vue.js
              .col-md-3
                .card.fill-white.elevation1.radius6.p-large.h100.text-left
                  a(href="https://community.algolia.com/vue-instantsearch")
                    figure
                      img.w100p(src="assets/images/InstantSearch-Angular.svg", alt="Logo InstantSearch Vue")
                      figcaption InstantSearch for Angular

        .inline.spacer80
        .inline.spacer120



        .inline.spacer80
        .inline.spacer120
    include ./common/footer.pug
    script(src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js")
    script(src=webpack.assets['js/common.js'])
    script(src=webpack.assets['js/main.js'])
