doctype html
html(lang="en")
  head
    include ./common/meta.pug
  body
    include ./common/header.pug

    section.fill-titan
      .container.z-10
        .spacer80
        h1.heading-text.text-heading Demos
        block content
          .contents!=contents

      .spacer32

    .documentation-section
      .container
        .examples-container.flex-container.flex-dir-row.pos-rel.z-10
          .flex-it-2.p-large
            .example-tile.elevation1.radius6.text-center.p-large.pos-rel
              h2.inline.p-t-large E-commerce
              figure
                img(src="https://community.algolia.com/instantsearch.js/v2/examples/e-commerce/capture.png")
                figcaption
                  a(href="examples/e-commerce") Go to live demo

          .flex-it-2.p-large
            .example-tile.elevation1.radius6.text-center.p-large.pos-rel
              h2.inline.p-t-large Media
              figure
                img(src="https://community.algolia.com/instantsearch.js/v2/examples/media/capture.png")
                figcaption
                  a(href="examples/media") Go to live demo

          .flex-it-2.p-large
            .example-tile.elevation1.radius6.text-center.p-large.pos-rel
              h2.inline.p-t-large Storybook
              figure
                img(src="assets/images/dev-novel.png")
                figcaption
                  a(href="examples/storybook") Go to live demo

    include ./common/footer.pug
    script(src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js")
    script(src=webpack.assets['js/common.js'])
    script(src=webpack.assets['js/main.js'])
