doctype html
html(lang="en")
  head
    include ./common/meta.pug
  body
    include ./common/header.pug
    
    section.fill-titan
      .container.z-10
        .spacer80
        h1.heading-text.text-heading Getting started
      .spacer32

    .documentation-section
      .container

        nav.sidebar.pos-abt
          .sidebar-container
            ul.sidebar-elements
              li.sidebar-element.level-h2.navItem.widgets
                a(href="getting-started.html#before-we-start") Before we start
              li.sidebar-element.level-h2.navItem.widgets
                a(href="getting-started.html#install-angular-instantsearch") Install Angular InstantSearch
              li.sidebar-element.level-h2.navItem.widgets
                a(href="getting-started.html#import-module") Import module
              li.sidebar-element.level-h2.navItem.widgets
                a(href="getting-started.html#initialization") Initialization
              li.sidebar-element.level-h2.navItem.widgets
                a(href="getting-started.html#display-results") Display results
              li.sidebar-element.level-h2.navItem.widgets
                a(href="getting-started.html#add-a-searchbox") Add a SearchBox
              li.sidebar-element.level-h2.navItem.widgets
                a(href="getting-started.html#add-a-refinementlist") Add a RefinementList
              li.sidebar-element.level-h2.navItem.widgets
                a(href="getting-started.html#going-further") Going further
              li.sidebar-element.level-h2.navItem.widgets
                a(href="getting-started.html#wrapping-up") Wrapping up

        a.sidebar-opener

        .documentation-container
          block content
            .content!=contents
            
          hr
          p
            strong Can't find what you are looking for? #[a(href="https://github.com/algolia/angular-instantsearch/issues/new?title=I could not find what I was looking for&body=Hi! I have a documentation issue on Angular-InstantSearch, I could not find what I was looking for which is: -- PLEASE FILL IN HERE --") Open an issue], we'll get back to you.

    include ./common/footer.pug
    
    script(src="https://cdn.jsde  livr.net/docsearch.js/2/docsearch.min.js")
    script(src=webpack.assets['js/common.js'])
    script(src=webpack.assets['js/main.js'])
