doctype html
html(lang="en")
  head
    include ./common/meta.pug
  body
    include ./common/header.pug

    section.fill-titan
      .container.z-10
        .spacer80
        h1.heading-text.text-heading Guides
      .spacer32

    .documentation-section
      .container

        nav.sidebar.pos-abt
          .sidebar-container
            ul.sidebar-elements
              li.sidebar-element.level-h2.navItem.widgets
                a(href="guides/customize-widgets.html") Customize widgets
              li.sidebar-element.level-h2.navItem.widgets
                a(href="guides/designing-the-no-results-page.html") Designing the no results page
              li.sidebar-element.level-h2.navItem.widgets
                a(href="guides/highlighting-results.html") Highlighting results
              li.sidebar-element.level-h2.navItem.widgets
                a(href="guides/server-side-rendering.html") Server side rendering
              li.sidebar-element.level-h2.navItem.widgets
                a(href="guides/migration-guide.html") Migrate from v1
              li.sidebar-element.level-h2.navItem.widgets
                a(href="guides/custom-backend.html") Use a custom backend
              li.sidebar-element.level-h2.navItem.widgets
                a(href="guides/tree-shaking.html") Leveraging Tree-Shaking

        a.sidebar-opener

        .documentation-container
          block content
            .content!=contents

          hr
          p
            strong Can't find what you are looking for? #[a(href="https://github.com/algolia/angular-instantsearch/issues/new?title=I could not find what I was looking for&body=Hi! I have a documentation issue on Angular-InstantSearch, I could not find what I was looking for which is: -- PLEASE FILL IN HERE --") Open an issue], we'll get back to you.

    include ./common/footer.pug

    script(src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js")
    script(src=webpack.assets['js/common.js'])
    script(src=webpack.assets['js/main.js'])
