doctype html
html(lang="en")
  head
    include ./common/meta.pug
  body
    include ./common/header.pug
    
    section.fill-titan
      .container.z-10
        .spacer80
        h1.heading-text.ttext-heading Widgets
      .spacer32
    
    .documentation-section
      .container
        
        nav.sidebar.pos-abt
          .sidebar-container
            ul.sidebar-elements
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/breadcrumb.html") Breadcrumb
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/clear-refinements.html") Clear Refinements
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/current-refinements.html") Current Refinements
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/hierarchical-menu.html") Hierarchical Menu
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/highlight.html") Highlight
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/hits-per-page.html") Hits per page
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/hits.html") Hits
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/infinite-hits.html") Infinite Hits
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/instantsearch.html") Instantsearch
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/menu.html") Menu
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/numeric-menu.html") Numeric Menu
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/pagination.html") Pagination
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/panel.html") Panel
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/range-input.html") Range Input
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/range-slider.html") Range Slider
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/rating-menu.html") Rating Menu
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/refinement-list.html") Refinement List
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/search-box.html") Search Box
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/sort-by.html") Sort By
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/stats.html") Stats
              li.sidebar-element.level-h2.navItem.widgets
                a(href="widgets/toggle.html") Toggle
                
        a.sidebar-opener
          
        .documentation-container
          block content
            .content!=contents
          
    include ./common/footer.pug
    
    script(src="https://cdn.jsde  livr.net/docsearch.js/2/docsearch.min.js")
    script(src=webpack.assets['js/common.js'])
    script(src=webpack.assets['js/main.js'])
